{% load static %}
{% include 'header.html' %}
{% if search_products %}
{% comment %}  Search_products list Start {% endcomment %}
<div width="100%">
    <h2><center>Result</center></h2>
<div class="row" >
{% for product in search_products %}
  <div class="col-lg-3 col-md-3 col-sm-4 pt-5 p-1 mb-5">
    <center>
      <a href="{% url 'productdetail' product.id %}" class=''>
       <img src="{{product.ProductImage.url}}" height="100vh" alt='products' />
        <p class="">{{product.ProductName}}</p>
        <h3 style="display:inline;">Rs <h4 style="display:inline;"> {{product.ProductPrice}}</h4></h3>
        <button class="btn btn-primary mt-3" style="display:block;">Buy Now</button>
      </a>
    </center>
  </div>
 {% endfor %}
</div>
</div>
{% comment %}  Search_products list End {% endcomment %}
{% else %}
<center>
 <form method="post" style="width:35%" class="mb-5">
    {% csrf_token %}
<h1 class="mt-5">Add Profile</h1>
<span style="color:green;font-size:20px;">{{save}}</span>
{{form.as_p}}
<button type="submit" class="btn btn-success form-control">Save</button>
  </form>
</center>
{% endif %}
<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/ulg/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% include 'footer.html' %} 
